@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full h-screen;

    margin: 0;
    outline: 0;
    padding: 0;

    overflow: hidden;
}

.App {
    @apply w-full h-screen;
}

p {
    margin: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}
