.Divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;

  margin: 20px;
}

.DividerLine {
  width: 60%;
  border-top: 1px solid #ccc;
}
