.Downloads {
  width: 40%;
}

.DownloadMenuSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
  width: 90%;
  min-height: 30px;
}

.DownloadValue {
  height: 100%;
}

.DownloadValue .BigButton {
  height: 100%;
  min-height: 30px;
}

.DownloadValue .BigButtonText {
  font-size: 12px;
}

.DownloadMenuSection .HelpButton img {
  filter: none;
}
