.downloads {
  width: 40%;
}

.downloadMenuSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
  width: 90%;
  min-height: 30px;
}

.downloadValue {
  height: 100%;
}

.downloadValue .BigButton {
  height: 100%;
  min-height: 30px;
}

.downloadValue .BigButtonText {
  font-size: 12px;
}

.downloadMenuSection .helpButton img {
  filter: none;
}
