.GameInstallNotify {
  display: flex;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  color: white;
}

.GameInstallNotify span {
  padding: 10px 0;
}

#pointer {
  position: absolute;
  right: 85px;
}
