.Menu {
  position: fixed;
  z-index: 99;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 70%;
  width: 60%;

  background: #fff;
  padding: 20px;
  border-radius: 10px;
  
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.MenuInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MenuHeading {
  font-size: 2rem;
  margin: 16px;
}

.MenuTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.MenuExit {
  height: 30px;
  margin: 20px;
}

.MenuExit:hover {
  cursor: pointer;
}

.MenuExit img {
  height: 100%;
}