.OptionSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
  width: 80%;
}

.OptionSection .BigButton {
  height: 100%;
  min-height: 30px;
}

.OptionSection .BigButtonText {
  font-size: 12px;
}

.OptionSection .HelpButton img {
  filter: invert(0%) sepia(91%) saturate(7464%) hue-rotate(101deg) brightness(0%) contrast(107%);
}
