body {
  user-select: none;
  height: 100vh;
}

#root, .App {
  height: 100%;
}

.App {
  background-image: url("https://webstatic.hoyoverse.com/upload/event/2020/11/04/7fd661b5184e1734f91f628b6f89a31f_7367318474207189623.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.TopButton {
  height: 60%;
  margin: 0px 10px;
  filter: invert(95%) sepia(0%) saturate(18%) hue-rotate(153deg) brightness(88%) contrast(81%);

  transition: filter 0.1s ease-in-out;
}

.TopButton:hover {
  filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(153deg) brightness(100%) contrast(100%);
  cursor: pointer;
}

.TopButton img {
  height: 80%;
  vertical-align: super;
}

#DownloadProgress {
  position: absolute;
  top: 85%;
  width: 60%;
}