html,
body {
  user-select: none;
  height: 100vh;
  overflow: hidden;
}

#root, .App {
  height: 100%;
}

.App {
  background-image: url("https://webstatic.hoyoverse.com/upload/event/2020/11/04/7fd661b5184e1734f91f628b6f89a31f_7367318474207189623.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.TopButton {
  height: 60%;
  margin: 0px 10px;
  filter: invert(95%) sepia(0%) saturate(18%) hue-rotate(153deg) brightness(88%) contrast(81%);

  transition: filter 0.1s ease-in-out;
}

.TopButton:hover {
  filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(153deg) brightness(100%) contrast(100%);
  cursor: pointer;
}

.TopButton img {
  height: 80%;
  vertical-align: super;
}

#DownloadProgress {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 50%;
}

.MiniDownloads {
  position: absolute;
  top: 40%;
  left: 12%;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid transparent;

  /* Colored section */
  border-top: 50px solid #fff;

  position: fixed;
  top: 73%;
  left: 15%;
}

.BottomSection {
  position: absolute;
  top: 80%;

  height: 30%;
  width: 100%;

  backdrop-filter: blur(8px);
  box-shadow: inset 0px 5px 12px -3px rgb(50 50 50 / 75%);
}
