#playButton {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;

  position: absolute;
  top: 80%;
  left: 60%;

  width: 30%;
  height: 12%;
}

#playButton .BigButton {
  height: 100%;
}

#serverControls {
  color: white;
}