#playButtons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 80%;
  left: 40%;

  width: 50%;
  height: 10%;
}

#playButtons .BigButton {
  height: 100%;
}