.MiniDialog {
  position: fixed;
  z-index: 99;

  /* Len and width */
  height: 30%;
  width: 30%;

  background: #fff;
  padding: 20px;
  border-radius: 10px;

  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.MiniDialogTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 20px;
}

.MiniDialogTop img {
  height: 100%;
}

.MiniDialogTop:hover {
  cursor: pointer;
}

.MiniDialog .ProgressText {
  color: #000;
}
