.MiniDialog {
  position: fixed;
  z-index: 99;

  /* Temp positions */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Len and width */
  height: 30%;
  width: 30%;

  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.MiniDialogTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 20px;
}

.MiniDialogTop img {
  height: 100%;
}

.MiniDialogTop:hover {
  cursor: pointer;
}

.MiniDialog .ProgressText {
  color: #000;
}