.RightBar {
  position: absolute;
  transform: translate(0%, 0%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;
  width: 70px;
  right: 0%;

  z-index: 99;

  background-color: rgba(0, 0, 0, 0.250);
  z-index: 999;
}


.RightBarInner > div {
  margin: 30px 0;
}

.RightBar img {
  height: 35px;
  filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(227deg) brightness(103%) contrast(105%);
  transition: filter 0.2s ease-in-out;
}

@media (max-height: 580px) {
  .RightBar {
    height: calc(100vh - 180px);
  }
}

@media (max-height: 500px) {
  .RightBar {
    height: calc(100vh - 170px);
  }
}

.BarImg {
  transition: 0.2s;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}


.BarImg:hover {
  cursor: pointer;
  border: 2px solid #ffc920;

}

.BarImg:hover img {
  filter: invert(72%) sepia(68%) saturate(777%) hue-rotate(341deg) brightness(113%) contrast(101%);
}