.RightBar {
  position: absolute;
  transform: translate(0%, 0%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;
  width: 80px;
  right: 0%;

  z-index: 99;

  background-color: rgba(77, 77, 77, 0.6);
  z-index: 999;
}

.BarImg:hover {
  cursor: pointer;
}

.RightBarInner > div {
  margin: 30px 0;
}

.RightBar img {
  height: 40px;
  filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(227deg) brightness(103%) contrast(105%);

  transition: filter 0.2s ease-in-out;
}

.RightBar img:hover {
  filter: invert(75%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

@media (max-height: 580px) {
  .RightBar {
    height: calc(100vh - 180px);
  }
}

@media (max-height: 500px) {
  .RightBar {
    height: calc(100vh - 170px);
  }
}
