#playButton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
  transform: translate(0%, -50%);
  right: 10%;
  top: 50%;

  width: 32%;
  height: 80%;
  min-width: 357px;
}

#playButton > div {
  margin-bottom: 6px;
}

#playButton .BigButton {
  height: 100%;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

#serverControls {
  color: white;

  text-shadow: 1px 1px 8px black;
}

.BottomSection .CheckboxDisplay {
  border-color: #c5c5c5;
  background: #fff;
}

.BottomSection .CheckboxDisplay {
  margin-right: 6px;
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.2);
}

.BottomSection .Checkbox label {
  color: #fff;
  font-weight: bold;
  text-shadow: #222222 1px 0 10px;
}

.BottomSection .Checkbox label span {
  padding-left: 4px;
}

.ServerConfig {
  margin-bottom: 6px;
}

.ServerConfig .Checkbox {
  display: inline-grid;
  vertical-align: middle;
  margin-left: 8px;
}

.ServerLaunchButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  max-height: 60px;
}

.ServerLaunchButtons .BigButton {
  margin-right: 8px;
}

#officialPlay {
  width: 50%;
  flex-grow: 1;
}

#akebiLaunch,
#serverLaunch {
  width: 50%;
}

#ExtrasMenuButton {
  width: 5%;
  padding: 0 20px;
}

.ExtrasIcon,
.ServerIcon {
  height: 20px;
  filter: invert(28%) sepia(28%) saturate(1141%) hue-rotate(352deg) brightness(96%) contrast(88%);
}

.ServerConfig input {
  padding: 6px;
  border-radius: 6px;
  height: 18px;

  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

.ServerConfig .TextInputWrapper {
  display: inline-block;
}

#ip {
  margin-right: 6px;
}

#port {
  width: 100%;
}

@media (max-width: 1040px) {
  #playButton {
    right: 5%;
  }
}

@media (max-width: 870px) {
  #playButton {
    min-width: 235px;
  }

  #officialPlay {
    width: 40%;
  }
}
