#playButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  left: 60%;
  top: 5%;

  width: 30%;
  height: 55%;
}

#playButton > div {
  margin-top: 4px;
}

#playButton .BigButton {
  height: 100%;
}

#serverControls {
  color: white;

  text-shadow: 1px 1px 8px black;
}

#serverControls .CheckboxDisplay {
  border-color: #c5c5c5;
  background: #fff;
}

#serverControls .Checkbox {
  margin-bottom: 6px;
}

#serverControls .CheckboxDisplay {
  margin-right: 6px;
}

#serverControls .Checkbox label {
  color: #fff;
  font-weight: bold;
}

.ServerLaunchButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  max-height: 60px;
}

#officialPlay {
  width: 60%
}

#serverLaunch {
  width: 5%;
}

.ServerIcon {
  height: 20px;
  filter: invert(28%) sepia(28%) saturate(1141%) hue-rotate(352deg) brightness(96%) contrast(88%);
}

.ServerConfig input {
  padding: 6px;
  border-radius: 6px;
}

#ip {
  margin-right: 6px;
}

#port {
  width: 15%;
}