.TopBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  background-color: #141414;
  z-index: 1;
  color: #fff;
}

.TopBtns {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
}

#title {
  margin: 0px 12px;
  color: #c5c5c5;
}

#version {
  margin: 0px 6px;
  color: #434343;
}

#unassumingButton {
  font-weight: bold;
  margin: 0px 6px;
  color: #141414;

  transition: color 0.2s ease-in-out;
}

#unassumingButton:hover {
  color: #434343;
}

#unassumingButton.spin {
  color: #fff;
  animation: spin 0.5s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
