.BigButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0 30px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(#ffd326, #ffc61e);
  color: #704a1d;
  font-weight: bold;

  font-size: 20px;
}

.BigButton:hover {
  cursor: pointer;
  background: linear-gradient(#ffc61e, #ffd326);
}

.BigButton.disabled {
  background: linear-gradient(#9c9c9c, #949494);
  color: rgb(226, 226, 226);
  cursor: default;
}

.BigButton.disabled:hover {
  background: linear-gradient(#949494, #9c9c9c);
}