.Checkbox input[type="checkbox"] {
  display: none;
}

.CheckboxDisplay {
  height: 20px;
  width: 20px;

  border: 2px solid #cecece;
  border-radius: 4px;
}

.CheckboxDisplay:hover {
  cursor: pointer;
  border-color: #aaaaaa;
}

.CheckboxDisplay img {
  height: 100%;
  filter: invert(99%) sepia(0%) saturate(1188%) hue-rotate(186deg) brightness(97%) contrast(67%)
}

.Checkbox label {
  display: flex;
  flex-direction: row;
}