.DirInput {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DirInput input {
  text-overflow: ellipsis;
}

.FileSelectIcon {
  height: 20px;
  margin-left: 10px;
  filter: invert(99%) sepia(0%) saturate(1188%) hue-rotate(186deg) brightness(97%) contrast(67%);

  transition: filter 0.1s ease-in-out;
}

.FileSelectIcon:hover {
  cursor: pointer;
  filter: invert(73%) sepia(0%) saturate(380%) hue-rotate(224deg) brightness(94%) contrast(90%);
}

.FileSelectIcon img {
  height: 100%;
}
