.HelpSection {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.HelpButton {
  height: 20px;
  filter: drop-shadow(0px 0px 5px rgb(0 0 0 / 20%));
}

.HelpButton:hover {
  cursor: pointer;
}

.HelpButton img {
  height: 100%;
  filter: invert(100%) sepia(2%) saturate(201%) hue-rotate(47deg) brightness(117%) contrast(100%);
}

.HelpContents {
  text-align: center;
}

.HelpContents .MiniDialog {
  bottom: 80%;
  left: 35%;
  width: 60%;
  height: 60%;
}