.ProgressBar, .InnerProgress {
  border-radius: 20px;
}

.ProgressBarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProgressBar {
  height: 20px;
  width: 80%;
  background-color: #fff;
  color: #c5c5c5;

  border: 1px solid #ccc;
}

.InnerProgress {
  height: 100%;
  background-color: #00a8ff;
}

.ProgressText {
  color: #c5c5c5;
  padding: 0px 10px;
}