.ModPages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 2;
  position: relative;

  padding: 5px;

  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: rgba(77, 77, 77, 0.6);
}

.ModPagesTitle {
  display: flex;
  justify-content: center;
  z-index: 3;

  width: 100%;
  max-width: 20%;
}

.ModPagesTitle:hover {
  cursor: pointer;
}

.ModPagesTitle.selected {
  border-bottom: 0px solid #fff;
}

.ModPagesPage {
  position: absolute;
  justify-self: center;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  text-align: center;

  padding: -5px;
  z-index: 3;

  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.ModPagesPage input {
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  height: 18px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: rgba(77, 77, 77, 0.6);
}

.ModPagesPage .TextInputWrapper {
  background: rgba(77, 77, 77, 0.6);
  z-index: -1;
  display: inline-block;
}
