.ModListItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 23%;
  margin: 10px;

  background: rgb(99, 98, 98, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);

  transition: background-color 0.1s ease-in-out;
}

.ModListItem:hover {
  cursor: pointer;
  background: rgb(99, 98, 98, 0.8);
}

.ModAuthor,
.ModName {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 0 0 10px;
  margin-left: 10px;

  color: #fff;
  font-weight: bold;
}

.ModAuthor {
  font-weight: normal;
  padding: 0 0 0 10px;
}

.ModTileOpen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Checkbox {
  filter: invert(100%) sepia(2%) saturate(201%) hue-rotate(47deg) brightness(117%) contrast(100%);
}

.ModTileOpen .ModTileFolder {
  width: 40px !important;
  height: 40px !important;
  margin: 20px;
}

.ModTileOpen,
.ModTileDownload {
  position: absolute;
  object-fit: contain;

  left: 37.5%;
  top: 45%;

  z-index: 999;

  width: 40px !important;
  height: 40px !important;

  filter: invert(1);
}

.ModImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModImage .ModImageInner {
  object-fit: cover;
  width: 100%;
  height: 150px;

  margin: 14px;
}

img.blur {
  filter: blur(6px);
}

img.nsfw {
  filter: blur(16px);
}

.ModInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  color: #fff;
  padding-bottom: 10px;
}

.ModInner div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 0px 8px;
}

.ModInner div span {
  margin: 0px 5px;
}

.ModInner img {
  object-fit: contain;
  width: 20px;
  height: 20px;

  margin: 0px;

  filter: invert(1);
}
