.NewsSection {
    background-color: rgba(106, 105, 106, 0.6);

    position: absolute;

    min-height: 219px;
    height: 40%;
    width: 512px;

    bottom: 35%;
    left: 5%;
}

@media (max-width: 830px) {
    .NewsSection {
        width: 61%;
    }
}

.NewsTabs {
    background-color: rgba(77, 77, 77, 0.6);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-weight: bold;
    color: #fff;

    width: 100%;
    height: 43px;
}

.NewsTab {
    height: 50%;

    margin: 0 10px;

    text-align: center;
    border-bottom: 1px solid transparent;
}

.NewsTab:hover {
    cursor: pointer;
}

.NewsTab.selected {
    border-bottom: 2px solid #ffc61e;
}

.NewsContent {
    display: block;
    height: calc(100% - 43px);
    width: 100%;
    color: #fff;
}

.NewsContent tbody {
    display: inline-block;
    height: 100%;
    width: 100%;

    overflow-y: auto;
    scrollbar-width: none;
}

.NewsContent  tbody::-webkit-scrollbar {
    display: none;
}

.Commit {
    margin: 0;
    color: #fff;
    max-height: 42px;
}

.CommitAuthor {
    width: calc(100% * 0.4);
    padding-left: 5px;
    vertical-align: top;
    font-weight: bold;
}

.CommitMessage {
    width: calc(100% * 0.6);
}

.CommitMessage span {
    display: -webkit-box;
    width: 100%;
    max-height: 42px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}
